<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <header>
      <img src="images/raf.png" alt="RAF Roundels" class="header-image">
      <div class="header-title">
        <a href="/"><h1>British Aviation of the Cold War Era</h1></a>
      </div>
      <img src="images/raf.png" alt="RAF Roundels" class="header-image">
    </header>
    
    <nav>
      <% planes.forEach(plane => { %>
        <a href="/<%= plane.name.toLowerCase() %>" class="<%= plane.name === currentPlane.name ? 'selected' : '' %>">
          <%= plane.name %>
        </a><br/>
      <% }); %>
    </nav>
    
    <div class="content">
        <div class="content-text">
            <h2><%= currentPlane.producer %> <%= currentPlane.name %></h2>
            <hr>
            <p>
                The de Havilland Vampire was an excellent first generation jet fighter, with sparkling agility, heavy firepower and astonishing high altitude performance. But its potential was held back by a thick wing that limited its speed to mach .78. The Rolls-Royce Nene which offered 5,000Ib of thrust, almost twice the thrust of Vampire available to a F.Mk 1, was fitted to Australian FB Mk 30s but despite far more power the increase in speed was incremental. The FB Mk 30s reached 570mph, only 22mph than the far weedier Ghost 3 FB Mk 9s of the RAF. If the greater power availble could be unleashed, the Vampire’s fangs could be further sharpened. What the Vampire needed was a new thin wing. The new aircraft, allocated the designation ‘FB Mk 8’, was to have the 4,850Ib Ghost 103, which though not quite as powerful as the Nene, benefited from being an in-house design better suited to the Vampire and did not require the complicated auxillary intakes of the Nene Vampires (as well the RAAF, the French adopted the Nene Vampire as the ‘Mistral’).
            </p>
        </div>
        <div class="content-card">
            <img src="images/<%= currentPlane.img %>" alt="<%= currentPlane.name %> image">
            <table>
                <th colspan="2"><%= currentPlane.name %> <%= currentPlane.model %></th>
                <tr>
                    <td>Engine</td>
                    <td><%= currentPlane.engine %></td>
                </tr>
                <tr>
                    <td>Max speed</td>
                    <td><%= currentPlane.maxSpeed %></td>
                </tr>
                <tr>
                    <td>Max altitude</td>
                    <td><%= currentPlane.maxAlt %></td>
                </tr>
            </table>
        </div>
        <div>
            <p>
                A new thinner wing was made, the new engine installed, and a swept leading edge added (and the forward swept trailing edge of the Vampire) along with other minor refinements. The swept leading edge was necessary to compensate for the heavier engine moving the centre of gravity rearwards. Attractive long-range fuel tanks were added to the wingtips; The new ‘tip-tanks’ added extra endurance at the cost of little drag as well as freeing up underwing space for additional weapons or fuel tanks. It also became 50% heavier. The new machine was now so radically different a new name was in order, the Vampire FB Mk 8 became the Venom. The Venom first flew on 2 September 1949 from Hatfield (close to London) and quickly proved itself a worthy successor to the Vampire. The top speed was a world-class 640mph, the climb rate was more than double that of the Vampire F Mk 1 at a brisk 9,000 feet a minute. It entered service in 1951 by 1955 it was the mainstay of the RAF’s Ground Attack force. Whereas the Vampire was somewhat cute and baby-like appearance, the new Venom had a sleek sinister appearance. This proved appropriate as the new ground attack aircraft soon become a post-colonial thug, employed with great effectiveness in a series of deeply questionable military actions. It took part in the Malayan Emergency from the mid 1950s, where it conducted more than 300 strikes.
            </p>
            <p>
                It also bombed Egypt as part of Operation Muskeeter during the Suez Crisis of 1956, in which one Venom was lost to groundfire. Again in 1956, RAF Venoms were deployed during the Aden Emergency, where they were used in support of counterinsurgency operations. In Oman, the first offensive action came with unguided rocket attacks by RAF Venoms. In 1957, British RAF Venoms participated heavily in the Jebel Akhdar War supporting British aims to gain access to oil wells in the interior parts of Oman, attacking mountain top villages, water channels and crops among other targets. Following the advancement of ground forces the RAF flew eight sorties, inflicting many casualties in Firq. The decisive factor was an attack by British Special Air Service (SAS), 1st Battalion of the Cameronians, a troop of the 15/19 Hussars, and a squadron of Ferret armoured cars, supported by RAF Venoms.        
            </p>
        </div>
    </div>
    
    <footer>
      @2023 Piotr Wojcieszak 
    </footer>

  </div>
      
</body>
</html>